{% load static %}
<div class="hero">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="intro-excerpt">
                    <h1>About Us</h1>

                    <p>
                        <strong>ORYX</strong> products stay with you for life,the brand has long been synonymous with inner-wear clothing that is closest to people.
                        <strong>ORYX</strong> premium men's and kid's inner wear are an epitome of quality and comfort.
                      </p>
                      <p>
                        We focus our energy on the quality of our materials and fabrics and the care with which our collections are made.
                        
                      </p>
                     <p><a href="" class="btn btn-secondary me-2">Our Collections</a></p>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="hero-img-wrap">
                    <img src="{% static 'images/bbg1.png' %}" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>