{% load static %}
<div class="hero">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="intro-excerpt">
                    <h1>Contact Us</h1>

                    Your satisfaction is our top priority. If you have any inquiries or need support, don’t hesitate to contact us. Fill out the form below or email us directly, and we’ll assist you promptly.
                      
                     <p><a href="" class="btn btn-secondary me-2">Our Collections</a></p>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="hero-img-wrap">
                    <img src="{% static 'images/bbg1.png' %}" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>