{% load static %}
<div class="we-help-section">
			<div class="container">
				<div class="row justify-content-between">
					<div class="col-lg-7 mb-5 mb-lg-0">
						<div class="imgs-grid">
							<div class="grid grid-1"><img src="{% static 'images/big1.jpg' %}"alt="Untree.co"></div>
							<div class="grid grid-2"><img src="{% static 'images/small.jpg' %}"alt="Untree.co"></div>
							<div class="grid grid-3"><img src="{% static 'images/med.jpg' %}"alt="Untree.co"></div>
						</div>
					</div>
					<div class="col-lg-5 ps-lg-5">
						<h2 class="section-title mb-4">We Bring You the Ultimate in Comfort and Quality with ORYX</h2>
                        <p>At ORYX, we are dedicated to providing garments that epitomize style, comfort, and quality. Our products are meticulously inspected for flawless stitching and finish, ensuring a natural feel and hypoallergenic properties. Discover how our attention to detail translates into exceptional wearability and elegance.</p>

						<ul class="list-unstyled custom-list my-4">
							<li>Supreme softness and natural feel</li>
                            <li>Hypoallergenic and gentle on the skin</li>
                            <li>Precision stitching for durability</li>
                            <li>Elegant designs that stand out</li>
						</ul>
						<p><a herf="#" class="btn">Explore</a></p>
					</div>
				</div>
			</div>
		</div>