{% load static %}
<div class="why-choose-section">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-6">
                <h2 class="section-title">Why Choose Us</h2>
                <p>
                    We are proud that we have been able to provide consistent quality in our products.<br> All our
                    products are made of 100% combed cotton and processed under strict quality check. 
                  </p>
                  <p>
                      Classic, comforatble , soft , natural and antiallergic are some of the defing characteristics
                      of our garments.The stiching quality and finsh are checked for eacg piece during the product
                       development cycle. 
                    </p> 
                  <p>
                      As part of brand <strong>ORYX</strong> ,our focus is to provide products with maximum softness and comfort
                      to our customers. 
                  </p>
                <div class="row my-5">
                    <div class="col-6 col-md-6">
                        <div class="feature">
                            <div class="icon">
                               
                            </div>
                            
                        </div>
                    </div>

               

                </div>
            </div>

            <div class="col-lg-5">
                <div class="img-wrap">
                    <img src="{% static 'images/quality.png' %}" alt="Image" class="img-fluid">
                </div>
            </div>

        </div>
    </div>
</div>