
{% extends 'layouts/blank_layout.html'%}
{% load static %}




{% block navbar %}
{% include 'layouts/navbar.html'%}  
{% endblock %}


{% block hero %} 
{% include 'layouts/hero_section.html'%}
{% endblock %}

{% block product %} 
{% include 'layouts/product_pic.html'%}
{% endblock %}

{% block quality %} 
{% include 'layouts/quality.html'%}
{% endblock %}


{% block help %} 
{% include 'layouts/help.html'%}
{% endblock %}

{% block popular_products %} 
{% include 'layouts/popular_pdt.html'%}
{% endblock %}

{% block footer %} 
{% include 'layouts/footer.html'%}
{% endblock %}


