{% extends 'layouts/blank_layout.html'%}
{% load static %}
{% block hero_product %} 
<div class="hero">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="intro-excerpt">
                    <h1> <span clsas="d-block"> {{ category|title }} Collections
                    </span></h1>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="hero-img-wrap">
                    <img src="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block content %}

    <!-- Shop Details Section Begin -->
    <div class="container mt-5">
        <div class="row">
            <!-- Main Image and Sub-Image Gallery -->
            <div class="col-lg-6">
                <div class="product-main-image">
                    {% if product.image_1 %}
                        <img id="mainImage" src="{{ product.main_image.url }}" alt="Main Image">
                    {% endif %}
                </div>
                <div class="product-image-gallery mt-3">
                    <div class="row">
                        {% if product.image_1 %}
                            <div class="col-3 sub-image-container">
                                <img class="sub-image" src="{{ product.image_1.url }}" alt="Sub Image 1" data-target="#mainImage">
                            </div>
                        {% endif %}
                        {% if product.image_2 %}
                            <div class="col-3 sub-image-container">
                                <img class="sub-image" src="{{ product.image_2.url }}" alt="Sub Image 2" data-target="#mainImage">
                            </div>
                        {% endif %}
                        {% if product.image_3 %}
                            <div class="col-3 sub-image-container">
                                <img class="sub-image" src="{{ product.image_3.url }}" alt="Sub Image 3" data-target="#mainImage">
                            </div>
                        {% endif %}
                        {% if product.image_4 %}
                            <div class="col-3 sub-image-container">
                                <img class="sub-image" src="{{ product.image_4.url }}" alt="Sub Image 4" data-target="#mainImage">
                            </div>
                        {% endif %}
                    </div>
                    
                </div>
            </div>
            <!-- Product Details -->
            <div class="col-lg-6">
                <h2>{{ product.title }}</h2>
                <p class="product-description">{{ product.description }}</p>
                <ul class="product-details">
                    <li><strong>Color:</strong> {{ product.color }}</li>
                    <li><strong>Size:</strong> {{ product.size }}</li>
                    <li><strong>Packing:</strong> {{ product.packing }}</li>
                </ul>
                
            </div>
        </div>
    </div>
    {% endblock %}
    {% block footer %} 
    {% include 'layouts/footer.html'%}
    {% endblock %}   